<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<!--  datasource 태그 안에 4개의 프로퍼티값이 저장된 파일 : 파일 위치한 패키지이름을 디렉토리형식으로 작성-->
  <properties resource="mybatis/db.properties"/>
  
  <!--  db 연결정보 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <!-- 데이터베이스 연결 풀 설정 -->
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- JDBC로 처리하는 상당부분의 코드와 파라미터 설정 및 결과 매핑 해준다.   -->
  <mappers>
  	<!-- 실행할 SQL 쿼리 저장한 파일.  -->
    <mapper resource="mybatis/freeboard.xml"/>
    <mapper resource="mybatis/comment.xml"/>
    <!-- sql  -->
  </mappers>
</configuration>


