table {
	width : 70%;
	margin: auto;
}

th{
	text-align:center;
	font-size:90%;
	background-color:#4080bf;
	color:white;
	width: 35%;
	border-radius:3px;
}

input,textarea{
	padding:7px;
	border-radius:4px;
	border:2px solid #ccc;
	box-sizing:border-box;
}

.btn{
	width:70px;
	cursor:pointer;
}
